*{
    margin:0;
    padding:0;
}
.header{
    height:100px;
    background-color: black;
}
.box-left{
    width: 50%;
    height: 1000px;
    background-color: cadetblue;
    float: left;

     
}
.box-right{
    width:50%;
    height:1000px;
    background-color:grey;
    float:right;
    padding:0;
    overflow:scroll;
}
image{
    margin-top:30px;
}
@media(max-width:600px){
    .box-left{
        width:100%;

    }
    .box-right{
        width:90%
    }
}